/* custom-reset.css | 27.08.2018 | https://yurch-html.github.io/dist/custom-reset.html */
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  html {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  margin: 0;
  background-color: #fff;
  line-height: 1;
  text-rendering: optimizeLegibility;
  -webkit-text-decoration-skip: objects;
          text-decoration-skip: objects;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
}

:focus {
  outline: none;
}

p,
dd,
dl,
figure,
blockquote {
  margin: 0;
}

blockquote,
q {
  quotes: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

th {
  font-weight: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  font-weight: inherit;
}

audio,
video {
  display: block;
}

img {
  display: block;
  border: none;
}

iframe {
  border: none;
}

pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: inherit;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

abbr {
  border: none;
  text-decoration: none;
}

b,
strong {
  font-weight: inherit;
}

i,
em {
  font-style: inherit;
}

dfn {
  font-style: inherit;
}

mark {
  background-color: transparent;
  color: inherit;
}

small {
  font-size: inherit;
}

sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: inherit;
  line-height: 0;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

button,
input,
optgroup,
select,
textarea {
  padding: 0;
  margin: 0;
  border: none;
  border-radius: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-align: left;
  text-transform: none;
}

button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

textarea {
  resize: none;
  overflow-y: auto;
  overflow-x: hidden;
}

button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border: none;
  padding: 0;
}

button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: none;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  outline: none;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: none;
  font: inherit;
}

fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

legend {
  display: block;
  padding: 0;
  white-space: normal;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

select::-ms-expand {
  display: none;
}

::-webkit-input-placeholder {
  color: inherit;
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

::-moz-input-placeholder {
  color: inherit;
  opacity: 1;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

:-moz-placeholder {
  color: inherit;
  opacity: 1;
  -moz-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

:-ms-input-placeholder {
  color: inherit;
  opacity: 1;
  -ms-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

:focus::-webkit-input-placeholder {
  opacity: 0;
}

:focus::-moz-input-placeholder {
  opacity: 0;
}

:focus:-moz-placeholder {
  opacity: 0;
}

:focus:-ms-input-placeholder {
  opacity: 0;
}

svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: currentColor;
}

[hidden] {
  display: none;
}

:disabled,
.disabled {
  cursor: not-allowed;
}

::-ms-clear {
  display: none;
}

:-webkit-autofill {
  -webkit-box-shadow: 0 0 100px #fff inset;
          box-shadow: 0 0 100px #fff inset;
  -webkit-text-fill-color: currentColor;
}

::-moz-selection {
  color: #fff;
  background-color: #004fe4;
}

::selection {
  color: #fff;
  background-color: #004fe4;
}

.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.visually-hidden {
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border: none;
  overflow: hidden;
}

.cover-pic,
.contain-pic {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cover-pic {
  -o-object-fit: cover;
     object-fit: cover;
}

.contain-pic {
  -o-object-fit: contain;
     object-fit: contain;
}

.footer-page {
  margin-top: auto;
}

.shadow-radial {
  display: inline-block;
  position: relative;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0);
          box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.shadow-radial:before, .shadow-radial:after {
  pointer-events: none;
  position: absolute;
  content: "";
  left: 0;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-repeat: no-repeat;
  height: 5px;
  opacity: 0;
  -webkit-transition-duration: 0.3s;
       -o-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.shadow-radial:before {
  bottom: 100%;
  background: -o-radial-gradient(50% 150%, ellipse, rgba(232, 252, 7, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at 50% 150%, rgba(232, 252, 7, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
}
.shadow-radial:after {
  top: 100%;
  background: -o-radial-gradient(50% -50%, ellipse, rgba(232, 252, 7, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at 50% -50%, rgba(232, 252, 7, 0.6) 0%, rgba(0, 0, 0, 0) 80%);
}
.shadow-radial:hover:before, .shadow-radial:hover:after {
  opacity: 1;
}

.main {
  padding: 8rem 7rem 4rem 11rem;
}
.main h1 {
  font-size: 2rem;
  text-align: center;
  margin: 1.3rem;
}
.main span {
  font-size: 1.3rem;
  text-transform: uppercase;
  color: red;
  margin: 1.2rem 0;
}
.main-content {
  padding: 1rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  color: rgb(231, 222, 65);
  letter-spacing: 0.05rem;
  font-size: 1.3rem;
}

.header {
  position: fixed;
  z-index: 100;
  right: 0;
  left: 0;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem;
  background: rgb(249, 231, 38);
  background: -o-linear-gradient(324deg, rgb(249, 231, 38) 0%, rgb(196, 232, 134) 58%, rgb(3, 123, 148) 100%);
  background: linear-gradient(126deg, rgb(249, 231, 38) 0%, rgb(196, 232, 134) 58%, rgb(3, 123, 148) 100%);
}
.header-title {
  border-top: 2px solid rgb(234, 220, 23);
  border-right: 2px solid rgb(234, 220, 23);
  border-left: 2px solid rgb(100, 224, 158);
  border-bottom: 2px solid rgb(100, 224, 158);
  border-radius: 10px;
  padding: 0.5rem;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.395);
  color: rgb(222, 236, 16);
  text-shadow: 1px 1px 5px rgb(202, 51, 51);
}
.navigation {
  position: fixed;
  top: 6.25rem;
  bottom: 0;
  width: 100%;
  max-width: 10rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(11, 46, 56, 0.75);
  border-right: 1px solid rgba(206, 190, 190, 0.125);
  font-family: sans-serif;
  color: rgb(175, 197, 77);
}
.navigation ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 0.3rem;
}
.navigation li {
  padding: 0.5rem 0.5rem;
  line-height: 1.3rem;
}

body {
  height: 100vh;
  width: 100%;
}

.wrapper {
  background: url("assets/bg/bg-main.png") no-repeat fixed;
  background-size: cover;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.general {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

main {
  border: 1px solid rgb(10, 22, 193);
}