body {
  height: 100vh;
  width: 100%;
}

.wrapper {
  background: url("/assets/bg/bg-main.png") no-repeat fixed;
  background-size: cover;
}

.container {
  width: 100%;
  height: 100%;
  position: relative;
}

.general {
  display: flex;
  position: relative;
}

main {
  border: 1px solid rgb(10, 22, 193);
}
