.navigation {
  position: fixed;
  top: 6.25rem;
  bottom: 0;
  width: 100%;
  max-width: 10rem;
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(11, 46, 56, 0.75);
  border-right: 1px solid rgba(206, 190, 190, 0.125);
  font-family: sans-serif;
  color: rgb(175, 197, 77);

  li {
    padding: 0.5rem 0.2rem;

    &:first-child {
    }
  }
}
