@mixin flex-wrapper {
  display: flex;
  justify-content: space-between;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin border {
  border-top: 2px solid rgb(234, 220, 23);
  border-right: 2px solid rgb(234, 220, 23);
  border-left: 2px solid rgb(100, 224, 158);
  border-bottom: 2px solid rgb(100, 224, 158);
}

@mixin hideTapHighlightColor() {
  //Prevent highlight colour when element is tapped
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@mixin hardwareAccel() {
  //Improve performance on mobile/tablet devices
  transform: translateZ(0);
}

@mixin improveAntiAlias() {
  //Improve aliasing on mobile/tablet devices
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
